@model GroupAllViewModel

@inject IGroupService groupService

<style>
    .sport {
        color: #009F4F;
    }

    .fun {
        color: #FF8256;
    }

    .life {
        color: #4DAABC;
    }

    .music {
        color: #B41EB2;
    }

    .com {
        background-color: #DADADA;
        border-radius: 0.3em;
    }

    .creatorGroup {
        font-size: 1.2em;
    }

    .participants {
        background-color: #DADADA;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: 0.3em;
        border: 1px solid black;
    }

    .accountButton {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: 1em;
        border: 1px solid black;
    }

    .accountButton:hover {
        background-color: #ffe299;
    }

</style>

<div class="card my-3 myCard">

    <div class="card-header d-flex justify-content-between align-items-center">

        @if (Model.Category == "Funny")
        {
            <h4 class="fw-bolder fun">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Sport")
        {
            <h4 class="fw-bolder sport">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Lifestyle")
        {
            <h4 class="fw-bolder life">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Music")
        {
            <h4 class="fw-bolder music">
                @Model.Category
            </h4>
        }
        else
        {
            <h4 class="fw-bolder">
                @Model.Category
            </h4>
        }

        @if (await groupService.HasUserWithIdAsync(Model.Id, User.GetById()))
        {
            <div>
                <a asp-area="" asp-controller="Group" asp-action="Edit" asp-route-groupId="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-area="" asp-controller="Group" asp-action="Delete" asp-route-groupId="@Model.Id"
                   class="btn btn-danger">Delete</a>
            </div>
        }

    </div>

    <div>
        <div class="card-body text-center">
            <h3 class="card-title">@Model.Name</h3>
            <p class="card-text creatorGroup premiumTextSpan">
                <a class="accountButton btn" asp-controller="Group" asp-action="Account" asp-route-creatorId="@Model.CreatorId"><i class="premiumText fw-bold">@Model.Creator</i></a>
            </p>
            <a asp-controller="Group" asp-action="Show" asp-route-groupId="@Model.Id" type="button" class="btn btn-secondary me-3">Show posts</a>
            @if (await groupService.IsUserInGroupAsync(@Model.Id, User.GetById()))
            {
                <span><a asp-controller="Group" asp-action="Leave" asp-route-groupId="@Model.Id" type="button" class="btn btn-danger">Leave Group</a></span>
            }
            else
            {
                <span><a asp-controller="Group" asp-action="Join" asp-route-groupId="@Model.Id" type="button" class="btn btn-success">Join Group</a></span>

            }
        </div>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-center align-items-center text-center">

        <div>
            <div class="participants">@Model.Participants Participants</div>
        </div>
    </div>
</div>