@model PostAllViewModel
@inject IPostService postService
@inject IPremiumUserService premiumUserService
@inject IGroupService groupService

<div class="card my-3 myCard">

    <div class="card-header d-flex justify-content-between align-items-center">

        @if (Model.Category == "Funny")
        {
            <h4 class="fw-bolder fun">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Sport")
        {
            <h4 class="fw-bolder sport">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Lifestyle")
        {
            <h4 class="fw-bolder life">
                @Model.Category
            </h4>
        }
        else if (Model.Category == "Music")
        {
            <h4 class="fw-bolder music">
                @Model.Category
            </h4>
        }
        else
        {
            <h4 class="fw-bolder">
                @Model.Category
            </h4>
        }

        @if (await postService.HasUserWithIdAsync(@Model.Id, User.GetById())
        || User.IsAdmin())
        {
            <div>
                <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            </div>
        }

    </div>

    <div>
        <div class="card-body text-center">
            <h2 class="card-title">@Model.Title</h2>

            @if (@Model.GroupId == null)
            {
                <p class="card-text pb-1 descrPost">@Model.Description</p>

                <button type="button" id="openModalButton" class="btn btn-outline-info open-modal-button" data-postid="@Model.Id">Comments Section</button>
                @* -------------------------- *@
                <span id="modalContainer"></span>
                @* -------------------------- *@
                <a asp-area="" asp-controller="Post" asp-action="AddComment" asp-route-id="@Model.Id" type="button" class="btn btn-info">Add Comment</a>
            }
            else if (await groupService.IsUserInGroupAsync(@Model.GroupId, User.GetById()) || User.IsAdmin())
            {
                @if (@Model.Group != null)
                {
                    <div class="groupName">
                        <h5>Group: @Model.Group</h5>
                    </div>
                }

                <p class="card-text pb-1 descrPost">@Model.Description</p>

                <button type="button" id="openModalButton" class="btn btn-outline-info open-modal-button" data-postid="@Model.Id">Comments Section</button>
                @* -------------------------- *@
                <span id="modalContainer"></span>
                @* -------------------------- *@
                <a asp-area="" asp-controller="Post" asp-action="AddComment" asp-route-id="@Model.Id" type="button" class="btn btn-info">Add Comment</a>
            }
            else
            {
                <div>
                    <a asp-area="" asp-controller="Group" asp-action="All" class="btn btn-outline-primary">View content in group by joining it!</a>
                </div>
            }


        </div>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between align-items-center">

        <div>
            <a asp-area="" asp-controller="Post" asp-action="Like" asp-route-postId="@Model.Id"><button class="btn likes">@Model.Likes Likes</button></a>
        </div>



        <div>
            @if (await premiumUserService.ExistByIdAsync(@Model.OrganiserId))
            {
                <span class="creator me-3">
                    <i class="premiumText fw-bold">@Model.OrganiserFullName</i>
                </span>
            }
            else
            {
                <span class="creator me-3"><i><b>@Model.OrganiserFullName</b></i></span>
            }

            <span class="date">@Model.CreatedOn</span>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        function loadModalContent(postId) {
            $.get('/Comment/ModalContent', { postId: postId }, function (data) {
                $('#modalContainer').html(data);
                $('#myModal').modal('show');
            });
        }

        $('.open-modal-button').click(function (evt) {
            evt.stopImmediatePropagation();
            var postId = $(this).data('postid');
            loadModalContent(postId);
        });
    });
</script>

