@model PostAllViewModel

<div class="card text-center my-3 myCard">

    <div class="card-header">
        @Model.Category
    </div>

    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-outline-info">Comments Section</a>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <a asp-controller="Post" asp-action="Like" asp-route-postId="@Model.Id"><button class="likes">@Model.Likes Likes</button></a>
        <span class="date">@Model.CreatedOn</span>
    </div>
</div>