@model PostAllViewModel

<div class="card text-center my-2 myCard">
    <div class="card-header">
        @Model.Category
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Comments Section</a>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <span class="likes">@Model.Likes Likes</span>
        <span class="date">@Model.CreatedOn</span>
    </div>
</div>