@model PostAllViewModel
@* @inject IPremiumUserService premiumUserService *@
@inject IPostService postService

<style>
    .sport {
        color: #009F4F;
    }
    .fun {
        color: #FF8256;
    }
    .life {
        color: #4DAABC;
    }
    .music {
        color: #B41EB2;
    }

    .likes {
        border: 2px solid black;
    }
</style>

<div class="card my-3 myCard">

    <div class="card-header d-flex justify-content-between align-items-center">

        @if (Model.Category == "Funny")
        {
            <span class="fw-bolder fun">
                @Model.Category
            </span>
        }
        else if (Model.Category == "Sport")
        {
            <span class="fw-bolder sport">
                @Model.Category
            </span>
        }
        else if (Model.Category == "Lifestyle")
        {
            <span class="fw-bolder life">
                @Model.Category
            </span>
        }
        else if (Model.Category == "Music")
        {
            <span class="fw-bolder music">
                @Model.Category
            </span>
        }
        else
        {
            <span class="fw-bolder">
                @Model.Category
            </span>
        }

        @if (await postService.HasUserWithIdAsync(@Model.Id, User.GetById()))
        {
            <div>
                <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            </div>
        }
        
    </div>

    <div class="card-body text-center">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-outline-info">Comments Section</a>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <a asp-controller="Post" asp-action="Like" asp-route-postId="@Model.Id"><button class="btn likes">@Model.Likes Likes</button></a>
        <span class="date">@Model.CreatedOn</span>
    </div>
</div>